<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Analytic Ware</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

  </head>
  <body>

    <!-- <div class="container"> -->
      <nav class="navbar navbar-expand-lg navbar-light ">
        <a class="navbar-brand" href="https://www.analyticware.in">Home</a>
      </nav>
    <!-- </div> -->
    <br>
    <br>
      <div class="container" >

            <h2>Q&A Demo </h2>
            <form action="{{ url_for('predict') }}" method="post">
                <div class="form-group">
                  <label for="exampleFormControlTextarea1">Enter The Context</label>
                  <textarea class="form-control" id="exampleFormControlTextarea1" rows="5" placeholder="Add context" name="context"></textarea>
                </div>
                <div class="form-group">
                <label for="exampleFormControlInput1">Enter Question </label>
                <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Ask any question ?" name="ques">
                </div>
                
                <button type="submit" class="btn btn-primary btn-block btn-large" style="width: 40%;">Find Answer</button>
            </form>
            <br>
            <br>
            {{ prediction_text }}

            </div>

          </div>
        </div>
      </div>
    </div>  


    

<div class="footer" style="margin-bottom: 0;padding-bottom: 0;">
      <div class="container">
            <!-- AnalyticWare <script>document.write(new Date().getFullYear());</script> All rights reserved -->
    </div>
</div>
  
  </body>
</html>
